<li>
  <% if user.picture? %>
    <%= image_tag(user.picture, size: "50x50", alt: user.name)  %>
  <% else %>
    <%= gravatar_for user, size: 50 %>
  <% end %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,data: { confirm: "You sure?" } %>
  <% end %>
</li>