<%= image_tag(current_user.picture, size: "50x50", alt: current_user.name)  %>
<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>